<ion-view view-title="{{ albums.length}} Albums">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-plus-empty" ng-click="doSomething()">
        </button>
    </ion-nav-buttons>

    <ion-content class="scroll-bg" ng-init="refresh()">

        <div class="multi_items_row">
              <div
                  class="album"
                  ui-sref="app.album({albumID: album.id })"
                  ng-repeat="album in albums"
              >
                <img src="{{ album.thumbs[0] }}">
                <div class="overlay">
	                  <h1>{{ album.title }}</h1>
	                  <a>{{ album.sysdate }}</a>
	              </div>
              </div>
        </div>

    </ion-content>
</ion-view>
