<ion-view view-title="{{ albums.length}} Albums">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-plus-empty" ng-hide ng-show="loggedIn" ng-click="showAddAlbum()">
        </button>
        <button class="button button-icon button-clear ion-ios-person-outline" ng-click="showLogin()">
        </button>
    </ion-nav-buttons>

    <ion-content class="scroll-bg">

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>

        <div class="multi_items_row">
              <div
                  class="album"
                  ui-sref="app.album({albumID: album.id })"
                  ng-repeat="album in albums"
              >
                <img src="{{ album.thumbs.length ? album.thumbs[0] : 'img/no_photos.png' }}">
                <div class="overlay">
	                  <h1>{{ album.title }}</h1>
	                  <a>{{ album.sysdate }}</a>
	              </div>
              </div>
        </div>

    </ion-content>
</ion-view>
