
<ion-view view-title="Lychee">
    <ion-content>
        <div class="list list-inset dark">
            <div class="item item-image no-border">
                <div id="home_logo_image"></div>
            </div>
            <div class="item no-border item-dark text-center">
                <h2>Please enter your Lychee URL</h2>
            </div>
            <div class="list list-inset dark">
                <label class="item item-input item-stable">
                    <span class="input-label light">Lychee URL</span>
                    <input type="url"
                           placeholder="http://"
                           ng-model="lychee.url"
                           ng-required="true"
                           >
                </label>
            </div>
            <div class="item no-border item-dark assertive animate-show" ng-hide ng-show="error">
                <i class="icon ion-alert-circled"></i>
                <label class="text-center assertive ">{{ error }}</label>
            </div>
            <div class="item no-border item-dark animate-show" ng-hide ng-show="lychee.url">
                <button
                    class="button button-full icon-right ion-chevron-right button-outline button-stable"
                    ng-click="storeLycheeUrl()">
                    Show my photos
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
