<ion-modal-view class="imageView">
    <ion-header-bar class="headerView bar-stable"  align-title="center">
        <div class="buttons">
            <button class="button icon-left ion-ios-close-empty button-clear button-light close-btn" ng-click="uploadModal.hide(); uploadModal.remove();"></button>
        </div>
        <h1 class="title">Uploads</h1>
    </ion-header-bar>
    <ion-content>
        <h1 class="item item-center text-center item-icon-left item-dark animate-show" ng-show="uploads.length <= 0" href="#">
            <br/>
            <i class="icon ion-ios-information-outline"></i>
            There's no uploads to show
            <br/><br/>
        </h1>
        <div class="item item-thumbnail-left item-dark item-icon-right item-inset item-thumbnail animate-show" ng-hide ng-if="upload.status != 'uploaded'" ng-repeat="upload in uploads">
            <img ng-src="{{ upload.preview_uri }}" />
            <h2>&nbsp;</h2>
            <div class="text-center positive-bg padding-top padding-bottom" style="border-radius: 4px; width: {{ upload.uploaded }}%;">
                <span ng-if="upload.uploaded < 20">-</span>
                <span ng-if="upload.uploaded >= 20">{{ upload.uploaded }} %</span>
            </div>
            <i class="icon ion-pause" ng-if="upload.status == 'waiting'"></i>
            <ion-spinner class="icon" icon="spiral" ng-if="upload.status == 'uploading'"></ion-spinner>
            <i class="icon ion-android-done" ng-if="upload.status == 'uploaded'"></i>
            <i class="icon ion-android-warning" ng-if="upload.status == 'error'"></i>
        </div>
    </ion-content>
</ion-modal-view>
