/* Empty. Add your own CSS if you like */
body, ion-content {
  background: #1D1D1D url('../img/lychee.png') no-repeat center center;
  background-size: auto;
}

.album, .photo {
    position: relative;
    width: 152px; /* 20% of the viewport width */
    height: 152px;
    margin: 25px 0 0 25px !important;
}

.album img, .photo img {
    position: absolute;
    width: 150px;
    height: 150px;
    background: #222;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    border: 1px solid rgba(255, 255, 255, .5);
 }
.album:hover img, .photo:hover img { border-color: #2293EC; }
 .overlay {
    position: absolute;
    margin: 0 1px;
    width: 150px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .6));
    bottom: 1px;
 }

 .photo .overlay { opacity: 0; }
 .photo.active .overlay, .photo:hover .overlay { opacity: 1; }

 .overlay h1 {
    min-height: 19px;
    width: 130px;
    margin: 12px 0 0 5px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    white-space: nowrap
 }

 .overlay a {
   display: block;
    margin: 0 0 5px 5px;
    font-size: 11px;
    color: #ccc;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4)
 }

.overlay .icon {
    fill: #ccc;
    margin: 0 5px 0 0;
    width: 8px;
    height: 8px;
    -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .4));
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .4))
}
.multi_items_row  {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.photo_slide {
    width: 100%;
    height: 100%;
}



.scroll-view.ionic-scroll,
.scroll, .item.item-image, .item-infos, .slider {
    background: #1D1D1D url('../img/lychee.png') no-repeat center center;
    background-size: auto;
    height: 100%;
}
.item-infos { padding: 0; }
.item-infos .item { padding: 0 10px; }

.scroll { background: transparent; }
.slide_image {
    height: 100%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
